*{
   margin: 0;
   padding: 0;
}


.container{
   background-color: rgb(177, 199, 239);
   color: rgb(13, 15, 14);
   min-height: 100vh;
   border: 10px solid #1d1e4c;
}

.content{
   max-width: 900px;
   margin:0 auto ;
}

.top{
   margin: 100px;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}

.top h1{
   font-size: 40px;
   font-weight: bold;
   text-transform: uppercase;
   

}

.top h4{
   text-align: end;

   font-size: 30px;
   font-weight: bold;
}


.img_container ,img{
   width: 300px;
   height: 320px;
   border-radius: 50%;
   overflow: hidden;
}

.about h2{
font-size: 60px;
font-weight: 400;
margin-bottom: 20px;
}

.about p{
   font-size: 20px;
   line-height: 30px;
   letter-spacing: 1.2px;
}

.bio h4{
   margin-top: 50px;
   margin-bottom: 20px;
   font-size: 40px;
   font-weight: 200;
}

.bio p{
   font-size: 15px;
   line-height:20px ;

}

footer{
   text-decoration: none;
   margin: 80px;
   font-size: bold;
   text-align: right;
   
}